.social-container {
  background: grey;
  padding: 25px 50px;
  text-align: center;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eee;
}

a.facebook {
  color: #eee;
}

a.twitter {
  color: #eee;
}

a.instagram {
  color: #eee;
}
.foot{
  padding-top: 2%;
   padding-bottom: 2%;
   color: #eee;
}